body{
    background-image:linear-gradient(#fff1eb ,#ace0f9 100%);
    background-size: cover;
    border-radius: 10px;
    display: flex;
    background-attachment: fixed;;
    /* align-items: center; */
    justify-content: center;
    height: 300vh;
    min-width: 100px;
    flex-wrap: wrap;
}
/* .cardFirst{
    
    margin: auto;
    padding-left: 15px;
    padding-top: 10px;
    /* flex-direction: column; 
    height: 40vh;
    width: 100vh;
    backdrop-filter: blur(5px) brightness(90%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    border-radius: 10px;
    
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
} */
.card{
    
    margin-top: 100vh;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
    /* flex-direction: column; */
    min-width: 100px;
    max-width: 100vh;
    height: fit-content;
    flex-wrap: wrap;
    backdrop-filter: blur(5px) brightness(90%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.card>.cardTitle,.cardFirst>.cardTitle{
    color: rgb(60, 60, 60);
    font-size: 35px;
    width: 100vh;
}
.card>.cardTwTitle{
    font-size: 25px; ;
}
.card>.cardli{
    font-size:20px ;
    margin-top: 15px;
}
.card>.cardli>a{
    text-decoration: none;
    color:dodgerblue;
}
.pContent{
    font-size: 30px;
}
.pTitle{
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    min-width: 100vh;
    

}
.ops{
    display: flex;
    /* flex-direction: column; */
    padding: 25px 0 20px 0;
    width: 100%;
    user-select: none;
}

.ops>.a{
    /* width: 100%; */
    padding: 10px 10px;
    margin: 1px;
    border-radius: 6px;
    transition: 100ms;
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    text-decoration: none;
}
.ops>.a>svg{
    height: 25px;
    width: max-content;
    margin-bottom: 5px;
}
.ops>.a:hover{
    background-color: #7f7f7f40;
}

.ops>.a:active{
    opacity: 0.6;
}